<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DevTech - Register</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/footer.css">

       

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

   
    <body bgcolor="#C0C0C0">
  <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><a class="navbar-brand" href="#"> <img alt="Brand" src="assets/img/leidos.png"></a>
        </div>
        <br>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home.html">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
  <li><a href="investors.html">Investors</a></li>
  <li><a href="about_us.html">About</a></li>
  <li><a href="resource_allocation.html">Resources</a></li>
  <li><a href="login.html">Login</a></li>
  <li><a href="register.html">Register</a></li>
        
          </ul>
         
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
     
        </div>
    </div>
        
        <!-- Top content -->
        
  <div class="row">
    
        	
            <div class="inner-bg1">
                <div class="col-sm-8">
                            
                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h2>Register</h2>
                                       
                                    </div>
                                    <div class="form-top-right">
                                        <span style="font-size:0.75em;" class="fa fa-pencil"></span>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="post" class="registration-form">
                                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                                 <div class="form-group">
                                            <label class="sr-only" for="form-username">Username</label>
                                            <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                                        </div>
                                        
                            <div class="form-group">
      
                              <label class="sr-only" for="form-username">Email</label>
                                            <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                            </div>
                          
                                         <h100 style="color:white;padding-left:1px">You will occasionally receive account related emails. We promise not to share with anyone.</h100><br><br>

                                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                    </div>
</div>
                   <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Job role</label>
                    <div class="col-sm-10">
                        <select id="country" class="form-control">
                            <option>Select</option>
                            <option>General manager</option>
                            <option>Financial advisor</option>
                            <option>Engineer</option>
                            <option>Anylyst</option>
                            <option>Architect</option>
                        </select>
              
      
                    <br>
                    </div>

                     <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-10">
                        <select id="country" class="form-control">
                            <option>Select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                        <br>
                    </div>
   <div class="form-group">
                    <label class="control-label col-sm-3">Interests</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="projectCheckbox" value="Low calorie">
                                <div class="checkbox-label">Transport</div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="checkbox-box" type="checkbox" id="bilingualCheckbox" value="Low salt">
                                <div class="checkbox-label">Technology</div>
                            </label>
                        </div>
                         <div class="checkbox">
                            <label>
                                <input class="checkbox-box" type="checkbox" id="confidentCheckbox" value="Low calorie">
                                <div class="checkbox-label">Labour</div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="hardworkingCheckbox" value="Low salt">
                                <div class="checkbox-label">Legal</div>
                            </label>
                        </div>
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="leadershipCheckbox" value="Low calorie">
                                <div class="checkbox-label">Machinary</div>
                            </label>
                        </div>
                    </div>
                </div>


  <div class="form-group">
                    <label class="control-label col-sm-3">Skills</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="projectCheckbox" value="Low calorie">Project management
                            </label>
                        </div>
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="confidentCheckbox" value="Low calorie">Confident
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="hardworkingCheckbox" value="Low salt">Hardworking
                            </label>
                        </div>
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="leadershipCheckbox" value="Low calorie">Leadership
                            </label>
                        </div>
                           <div class="checkbox">
                            <label>
                                <input type="checkbox" id="mathematicsCheckbox" value="Low salt">
                                <div class="checkbox-label">Mathematics</div>
                            </label>
                        </div> <div class="checkbox">
                            <label>
                                <input type="checkbox" id="computersCheckbox" value="Low calorie">
                                <div class="checkbox-label">Computers</div>
                            </label>
                        </div>
            
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Languages</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="English" value="Low calorie">English
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Arabic" value="Low salt">Arabic
                            </label>
                        </div>
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Hindi" value="Low calorie">Hindi
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="French" value="Low salt">French
                            </label>
                    </div>
                </div>
                </article>

                <br>     <br>
                              <p>By clicking register, you agree to have read and agreed to our Terms and Conditions.</p>
                            </div>
                                        <!--<center><a  style="width:600px" class="btn btn-default btn-round-lg btn-lg" href="gosomewhere.php">Register<i class="icon-edit icon-white"></i></a></center>-->
                                        <center><button style="width:600px" class="btn3abood btn-lg" type="submit" />Register!</button></center><!--new button-->
                                    </form>
                                </div>
                            </div>
                            
                 </div> </div> </div></p></p></form></div></div></div></div></div></div></div>
            
      


        <!-- Footer -->
<br><br><br>
<footer class="site-footer">
  <div class="col-md-12">
    <div class="col-sm-5 col-sm-offset-0 text">
      <div id="footer">
        <style>
          .whitetext {
          color: white;}
        </style>
        <div class="container">
          <div class="row">
            <br>
            <div class="col-md-2">
              <center>
                <img src="assets/img/dev2.png" alt="...">  
              </center>
            </div>
          <div class="col-md-2" id="Devious">
          <br><br>
          <p class="whitetext">@ Devious Technology</p>
          <p class="whitetext">Copyrights 2017</p>     
          </div>
          <div class="col-md-1">
          <center>
          <br><br>
          <img src="assets/img/hwwhite.png" alt="...">        
              </div>
              <div class="col-md-1">
                <center>
                <br><br>
                  <img src="assets/img/leidosw.png" alt="...">
              </div>
              <div class="col-md-4">
              <br>
                <a class="whitetext">PRIVACY POLICY</a> | <a class="whitetext">SITE MAP</a><br>
                <img src="assets/img/phone.png" alt="..."><p class="whitetext">Contact Us: +971559349325</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>        
</footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script>     
          $("#add").on("click", function() {
          $("<p>3abood is the best.</p>").appendTo(".page-wrap");
          });
        </script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>